<div class="row mb-3 fs-28">
  Subjects:
</div>
<div class="row justify-content-center align-items-center">
  <div class="col p-0">
      <ejs-grid #normalgrid id='Normalgrid' [dataSource]='subjects' allowPaging='true' allowSorting='true' allowFiltering='true' [pageSettings]='pageSettings' [toolbar]='toolbar'
       (actionBegin)='actionBegin($event)'>
          <e-columns>
              <e-column field='id' allowEditing='false' headerText='ID' width='150' textAlign='center' isPrimaryKey='true'></e-column>
              <e-column field='name' headerText='Subject' width='150' textAlign='center'></e-column>
          </e-columns>
      </ejs-grid>
  </div>
</div>
