<!-- WELCOME TEXT -->
<div class="row justify-content-center align-items-center mb-5">
    <div class="fs-32 text-center">
        Welcome to NBU Logistics!
    </div>
</div>

<!-- CAROUSEL -->
<div class="row justify-content-center">
    <div class="carousel-width">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-block carousel-custom-img first"></div>
                    <div class="carousel-caption">
                        <div class="caption-title">NBU Logistics Family Card</div>
                        <div class="caption-text">Enroll now to get additional discounts!</div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block carousel-custom-img second"></div>
                    <div class="carousel-caption">
                        <div class="caption-title">Packaging</div>
                        <div class="caption-text">We make sure your shipment is safe & secure!</div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block carousel-custom-img third"></div>
                    <div class="carousel-caption">
                        <div class="caption-title">Customer Service</div>
                        <div class="caption-text">At your disposal 24/7</div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<div class="row maps-row-margin justify-content-center align-items-center">
    <div class="fs-28 text-center">
        Where you can find us:
    </div>
</div>

<div class="row mt-5">
    <!-- GOOGLE MAPS -->
    <div class="col-xl-9 mb-5">
        <div class="google-map-wrapper">
            <!-- WIDTH AND HEIGHT SET THROUGH GLOBAL STYLES -->
            <google-map [width]="null" [height]="null">
                <!-- [label]="marker.label"
                 [title]="marker.title"
                 [options]="marker.options" -->
                <map-maker
                 *ngFor="let marker of markers"
                 [position]="marker.position"
                 >
                </map-maker>
            </google-map>
        </div>
    </div>

    <!-- ADDRESS SECTION -->
    <div class="col-xl-3 mb-5">
        <div class="address-wrapper p-2">
            <div class="address-header font-weight-bold d-flex font-monsterrat justify-content-center align-items-center text-center">
                Office locations:
            </div>

            <hr class="custom-divider my-2">

            <div *ngFor="let office of offices" class="font-monsterrat fs-15">
                <div>
                    <span class="font-italic mr-1">Name:</span> {{ office.name }}
                </div>
                <div>
                    <span class="font-italic mr-1">Address:</span> {{ office.address }}
                </div>
                <hr class="custom-divider my-2">
            </div>
        </div>
    </div>
</div>
