<!-- PRINCIPAL/DIRECTOR -->
<div *ngIf="role == 'DIRECTOR'" class="row justify-content-center no-gutters h-100 w-100">
    <div class="col-12 col-xl-5">
        <div class="row h-100 m-0 justify-content-center align-items-center">
            <div class="col mb-4">
                <div class="d-flex justify-content-center unselectable mb-4">
                    <img class="school-logo" src="../../assets/logo/nbu-classbook-black.png" alt="NBU Classbook Logo">
                </div>
                <div class="fs-48 main-title-text mb-3">
                    Statistics
                </div>
                <div class="fs-16 under-main-text sm-spaced-text mb-5">
                    Statistic details
                </div>

                <mat-form-field class="w-100">
                    <mat-label>Average Grade</mat-label>
                    <input matInput type="text" [(ngModel)]="averageGrade" readonly>
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>TotalTeachers</mat-label>
                    <input matInput type="text" [(ngModel)]="totalTeachers" readonly>
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>Total Students</mat-label>
                    <input matInput type="text" [(ngModel)]="totalStudents" readonly>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>

<!-- ADMIN -->
<div *ngIf="role == 'ADMIN'">
    <div class="row mb-3 fs-28">
        Statistics:
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col p-0">
          <ejs-grid #normalgrid id='Normalgrid' [dataSource]='statistics' allowPaging='true' allowSorting='true' allowFiltering='true' [pageSettings]='pageSettings'>
              <e-columns>
                  <e-column field='id' headerText='ID' width='150' textAlign='center' isPrimaryKey='true'></e-column>
                  <e-column field='averageGrade' headerText='Average Grade' width='150' textAlign='center'></e-column>
                  <e-column field='totalTeachers' headerText='Total Teachers' width='150' textAlign='center'></e-column>
                  <e-column field='totalStudents' headerText='Total Students' width='150' textAlign='center'></e-column>
              </e-columns>
          </ejs-grid>
      </div>
    </div>
</div>
