<div class="row justify-content-center no-gutters h-100 w-100">
    <div class="col-12 col-xl-5">
        <div class="row h-100 m-0 justify-content-center align-items-center">
            <div class="col mb-4">
                <div class="d-flex justify-content-center unselectable mb-4">
                    <img class="login-logo" src="../../assets/logo/logo_transparent-black.png" alt="NBU Classbook Logo">
                </div>
                <div class="fs-48 main-title-text mb-3 font-metropolis-semi-bold">
                    Statistics
                </div>
                <div class="fs-16 under-main-text sm-spaced-text mb-5">
                    Statistic details
                </div>

                <!-- <mat-form-field class="w-100">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" [(ngModel)]="schoolName" readonly>
                </mat-form-field> -->
            </div>
        </div>
    </div>
</div>