<div class="row mb-3 fs-28">
  Classes:
</div>
<div class="row justify-content-center align-items-center">
  <div class="col p-0">
      <ejs-grid #normalgrid id='Normalgrid' [dataSource]='classes' allowPaging='true' allowSorting='true' allowFiltering='true' [pageSettings]='pageSettings' [editSettings]='editSettings' [toolbar]='toolbar'
       (actionBegin)='actionBegin($event)'>
          <e-columns>
              <e-column field='id' allowEditing='false' headerText='ID' width='150' textAlign='center'></e-column>
              <e-column field='weekDay' headerText='Week Day' width='150' textAlign='center'></e-column>
              <e-column field='timestamp' headerText='Time' width='150' textAlign='center'></e-column>
              <e-column field='classId' headerText='Class Id' width='150' textAlign='center'></e-column>
              <e-column field='className' headerText='Class Name' width='150' textAlign='center'></e-column>
              <e-column field='classId' headerText='Class Id' width='150' textAlign='center'></e-column>
              <e-column field='teacherId' headerText='Teacher ID' width='150' textAlign='center'></e-column>
              <e-column field='teacherName' headerText='Teacher Name' width='150' textAlign='center'></e-column>
              <e-column field='subjectId' headerText='Subject Id' width='150' textAlign='center'></e-column>
              <e-column field='subjectName' headerText='Subject Name' width='150' textAlign='center'></e-column>
          </e-columns>
      </ejs-grid>
  </div>
</div>
